<h4 mat-dialog-title>Modifier la couleur</h4> 
<mat-dialog-content>
    <input type="text" name="name" class="wTotal" [(ngModel)]="data.name"/>
    <input class="wTotal" [(colorPicker)]="data.colorCode" [style.background]="data.colorCode" />
</mat-dialog-content>
<mat-dialog-actions>
        <div class="left wMiddle"><button mat-dialog-close class="btn btn-small btn-light" (click)="close()">Fermer</button></div>
        <div class="right wMiddle"><button class="btn btn-success btn-small right "(click)="save()">Modifier</button></div>
</mat-dialog-actions>