.supertype{    
    font-size: 11px;
    font-style: italic;
}
select{
    padding:3px;
}
@media screen and (max-width: 767px){
    .table .btn{
        font-size:10px;
    }
    .name{
        width:111px;

    }
    .mid-col{
        padding: 5px 0;
    }
    input{
        width:150px;
    }
    select{
        margin: 5px;
        width: 150px;
    }
    .btn-success{
        display: block;
        margin: auto;
    }
}

