<script>
    $('selectpicker').selectpicker('refresh');
</script>
<mat-dialog-content>
    <div>
        <span>Nom : </span>
        <span><input type="text" name="name" [(ngModel)]="product.name" required #uname="ngModel" />
            <span *ngIf="uname.invalid"> 
                Name required. 
            </span> </span>
    </div>      
    <div>
        <span>Image principale : </span>
        <span>
            <image-upload [max]="2" (removed)="onRemoved($event)" (uploadStateChanged)="onUploadStateChanged($event)" (uploadFinished)="onUploadFinished($event)" url="http://danse-attitude-costume.us-east-2.elasticbeanstalk.com/pictures" buttonCaption="Selectionner une image" clearButtonCaption="supprimer" [uploadedFiles]="path"></image-upload>
            <!--<image-upload [max]="1" (removed)="onRemoved($event)" (uploadStateChanged)="onUploadStateChanged($event)" (uploadFinished)="onUploadFinished($event)" url="http://localhost:8080/pictures" buttonCaption="Selectionner une image" clearButtonCaption="supprimer" [uploadedFiles]="path"></image-upload>-->
        </span>
    </div>
    <div>
        <span>Autres images : </span>
        <span>
            <image-upload (removed)="onRemovedPictures($event)" (uploadStateChanged)="onUploadStateChanged($event)" (uploadFinished)="onUploadPicturesFinished($event)" url="http://danse-attitude-costume.us-east-2.elasticbeanstalk.com/pictures" buttonCaption="Selectionner une image" clearButtonCaption="supprimer" [uploadedFiles]="paths"></image-upload>
            <!--<image-upload (removed)="onRemovedPictures($event)" (uploadStateChanged)="onUploadStateChanged($event)" (uploadFinished)="onUploadPicturesFinished($event)" url="http://localhost:8080/pictures" buttonCaption="Selectionner une image" clearButtonCaption="supprimer" [uploadedFiles]="paths"></image-upload>-->
        </span>
    </div>
    <div>
        <span>Commentaire : </span>
        <span><textarea class="wTotal" name="comment" [(ngModel)]="product.comment" ></textarea></span>
    </div>
    <div class="left">
        <span>Quantité : </span>
        <span><input type="number" name="totalQuantity" [(ngModel)]="product.totalQuantity" (ngModelChange)="changeQuantity()"/></span>
    </div> 
    <div class="left">
        <span class="left">Détail des quantités : </span>
        <span class="left">
            
            <span *ngIf="product.sizeQuantities">
                
                <span *ngFor="let sizeQuantity of product.sizeQuantities">
                    <select [(ngModel)]="sizeQuantity.idSize"  class="selectpicker size" disabled >
                        <option></option>
                        <option *ngFor="let size of sizes" [ngValue]="size.id" >{{size.name}}</option>
                    </select>
                    <input type="number" name="quantity" [(ngModel)]="sizeQuantity.quantity" (ngModelChange)="changeQuantity()"/>  
                </span>
            </span>
            <span>
                <select [(ngModel)]="newSizeQuantity.idSize"  class="selectpicker size" [disabled]="allSizesAttributed">
                    <option *ngFor="let size of sizesNotAttributed" [ngValue]="size.id" >{{size.name}}</option>
                </select>
                <input type="number" name="quantity" [(ngModel)]="newSizeQuantity.quantity" [disabled]="allSizesAttributed" (ngModelChange)="changeQuantity()"/>    
            </span> 
        </span>
        
    </div> 
    <div class="left" *ngIf="sizesNotAttributed.length>1" ><button [disabled]="newSizeQuantity.idSize==null" (click)="addRow()" class="btn btn-primary">Ajouter une autre taille</button></div>
    <div class="clear"></div>
    
    <div *ngIf="unequalQuantity" class="alert alert-warning">Les quantités ne correspondent pas à la quantité générale</div>      
    <div *ngIf="allSizesAttributed">Toutes les tailles possibles ont déjà été attribuées<br>

    </div>
    
    <div class="left">
        <span>Couleur : </span>
        <span>
            <select  [(ngModel)]="product.colour.id" class="selectpicker">
                <option></option>
                <option *ngFor="let color of colors" [ngValue]="color.id" [ngStyle]="{'background-color':color.colorCode}">{{color.name}}</option>
            </select>      
        </span>
    </div>
    <div class="left">
        <span>Type de modèle : </span>
        <span><select  [(ngModel)]="product.type?.superType.id" class="selectpicker" (ngModelChange)="changeOnSuperType()">
                <option></option>
                <option *ngFor="let superType of superTypes" [ngValue]="superType.id">{{superType.name}}</option>
            </select>   
        </span>
    </div>
    <div class="left" *ngIf="types.length>0">
        <span>Modèle : </span>
        <span><select  [(ngModel)]="product.type.id" class="selectpicker">
                <option></option>
                <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
                </select>   
        </span>
    </div>
    <div class="left">
        <span>Genre : </span>
        <span><select  [(ngModel)]="product.kind.id" class="selectpicker">
                <option></option>
                <option *ngFor="let kind of kinds" [ngValue]="kind.id">{{kind.name}}</option>
                </select>   
        </span>
    </div>
    <div class="left">
        <span>Categorie : </span>
        <span><select  [(ngModel)]="product.category.id" class="selectpicker">
                <option></option>
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                </select>   
        </span>
    </div>
    <div class="left">
        <span>Malle : </span>
        <span><select  [(ngModel)]="product.box.id" class="selectpicker">
                <option></option>
                <option *ngFor="let box of boxes" [ngValue]="box.id">{{box.name}}</option>
                </select>   
        </span>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="wTotal " id="productButtons">
        <div class="col-xs-3 text-center">
            <button mat-dialog-close class="btn btn-small btn-light " (click)="close()">
                <span class="computer">Fermer</span>
                <span class="glyphicon glyphicon-remove mobile"></span>
            </button>
        </div>
        <div class="col-xs-3 text-center">
            <button *ngIf="product.id" mat-dialog-close class="btn btn-small btn-danger " (click)="deleteDialog(product.id)">
                <span class="computer">Supprimer</span>
                <span class="glyphicon glyphicon-trash mobile"></span>
            </button>
        </div>        
        <div class="col-xs-3 text-center">
            <a href="search/{{product.id}}" *ngIf="product.id" mat-dialog-close class="btn btn-small btn-primary ">
                <span class="computer">Réserver</span>
                <span class="glyphicon glyphicon-book mobile"></span>
            </a>
        </div>
        <div class="col-xs-3 text-center">
            <button [disabled]="" class="btn btn-success btn-small"(click)="save()" [disabled]="!show || (product.name==null)" id="validate">
                <span class="computer">Valider</span>
                <span class="glyphicon glyphicon-ok mobile"></span>
            </button>
        </div>
</mat-dialog-actions>