<div>
<h3>Mes réservations</h3>
<div *ngFor="let book of books" class="alert-info alert row text-center">
  <div class="centrer-vertical padding-10 ">
      <img class="text-center" *ngIf="book.product?.picture" src="http://localhost:8080/images/{{book.product.picture}}"/>
      <img *ngIf="!book.product?.picture" src="../../../assets/images.jpg"/>
  </div>
  <div class="centrer-vertical padding-10 text-left">
      <span>Costume : {{book.product?.name}}</span><br/>
      <span>Quantité : {{book.quantity}}</span><br/>
      <span>Réservé le : {{book.startDate | date : "dd/MM/yyyy HH:mm"}}</span>
  </div>
  <div class="padding-10 centrer-vertical" >
      <button class="btn btn-danger" (click)="deleteBook(book)">Terminer</button>
  </div>
</div>
</div>