
<nav id="header" class="navbar navbar-default anthracite">
    <div class="container-fluid">
      <div class="wTotal">
        <h1 class=" left">Danse Attitude</h1>
        <div class="computer">
            <div *ngIf="auth.isAuthenticated()" id="search" class="left"><a href="/search"><span class="glyphicon glyphicon-search"></span>Rechercher</a></div>
            <div *ngIf="auth.isAuthenticated()" id="manage" class="dropdown left">
                <p data-toggle="dropdown">
                    <a><span class="glyphicon glyphicon-cog"></span>Gestion</a></p>
                <div class="dropdown-menu">
                    <div>
                        <a href="/product">Costume</a>
                    </div>
                    <div>
                        <a href="/super-type">Type de modèle</a>
                    </div>
                    <div>
                        <a href="/type">Modèle</a>
                    </div>
                    <div>
                        <a href="/color">Couleur</a>
                    </div>
                    <div>
                        <a href="/category">Catégorie</a>
                    </div>
                    <div>
                        <a href="/kind">Genre</a>
                    </div>
                    <div>
                        <a href="/box">Malle</a>
                    </div>
                    <div>
                        <a href="/size">Taille</a>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <a href="/box-management">Contenu des malles</a>
                    </div>
                </div>
            </div>
            <div *ngIf="auth.isAuthenticated()" id="book" class="left"><a href="/book"><span class="glyphicon glyphicon-book"></span>Mes réservations</a></div>
            
                
            
            <div id="connexion" class="right">
            <a class=""
                *ngIf="!auth.isAuthenticated()"
                (click)="auth.login()">     
            <span class="glyphicon glyphicon-user"></span> Connexion
            </a>
        
            <a
                class=""
                    *ngIf="auth.isAuthenticated()"
                    (click)="auth.logout()">
                    
            <span class="glyphicon glyphicon-user "></span>Deconnexion
            </a>
            </div>
        </div> 

        <div class="mobile right">
            <div id="manage" class="dropdown">
                <p data-toggle="dropdown">
                        <a><span class="glyphicon glyphicon-menu-hamburger"></span></a></p>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a *ngIf="auth.isAuthenticated()" href="/search"><span class="glyphicon glyphicon-search"></span>Rechercher</a></li>
                    <li *ngIf="auth.isAuthenticated()" class="divider"></li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/product">Costume</a>
                    </li>                    
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/super-type">Type de modèle</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/type">Modèle</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/color">Couleur</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                           <a href="/category">Catégorie</a>   
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/kind">Genre</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/box">Malle</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()">
                        <a href="/size">Taille</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated()" class="divider"></li>
                    <li *ngIf="auth.isAuthenticated()"><a href="/box-management">Contenu des malles</a></li>
                    <li *ngIf="auth.isAuthenticated()" class="divider"></li>
                    <li *ngIf="auth.isAuthenticated()"><a href="/book"><span *ngIf="auth.isAuthenticated()" class="glyphicon glyphicon-book"></span>Mes réservations</a></li>
                    <li *ngIf="auth.isAuthenticated()" class="divider"></li>
                    <li *ngIf="!auth.isAuthenticated()">
                        <a (click)="auth.login()"><span class="glyphicon glyphicon-user anthracite"></span> Connexion</a>
                    </li>
                    <li>
                        <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><span class="glyphicon glyphicon-user "></span>Deconnexion</a>
                    </li>                    
                </ul>
            </div> 
      </div>
    </div>
    </div>
  </nav>
  <script>
  
  </script>

<router-outlet></router-outlet>

