<div id="loading" *ngIf="wait">
    <img id="loading-image" src="/assets/loading.gif" alt="Loading..." />
</div>

    <div class="padding-10" id="content">
    <h3>Gestion des costumes</h3>

    <button *ngIf="objects?.length!=0" class="btn btn-small btn-success add" (click)="openDialog()">Ajouter</button>
    <div class="tab-content " >
        <div class="tab-pane active center text-center" *ngIf="objects?.length!=0">
            <div *ngFor="let object of objects" class="alert alert-info wTotal">
                
                <div class="margin-btns">
                    <button class="btn-width btn btn-small btn-primary" (click)="openDialog(object)">
                        <span class="computer">Modifier</span>
                        <span class="glyphicon glyphicon-pencil mobile"></span>
                    </button>
                    <button *ngIf="object.id" class="btn-width btn btn-small btn-danger ng-scope ng-binding status-suspended" (click)="deleteDialog(object.id)">
                        <span class="computer">Supprimer</span>
                        <span class="mobile glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="clear"></div>
                <div class="centrer-vertical text-left">
                    <span class="bold">{{object.name}}</span>
                    <br/>
                    <img *ngIf="object.picture" src="{{object.picture}}"/>
                    <img *ngIf="!object.picture" src="../../assets/images.jpg"/><br/>
                    <div class="inline-block" *ngFor="let picture of object.pictures">
                        <img class="mini inline" *ngIf="object.picture" src="{{picture.link}}"/>
                    </div><br/>
                    <span *ngIf="object.totalQuantity"><span class="bold">Quantité : </span>{{object.totalQuantity}}</span>
                    
                </div>
                <div class="centrer-vertical max-col text-left padding-10 ">
                    <div class="centrer-vertical inline-block ">
                        <div *ngIf="object.colour">
                            <span class="bold">Couleur : 
                                <div class="colorSquare inline-block" [style.background]="object.colour.colorCode" *ngIf="object.colour.colorCode" title="{{object.colour.name}}"></div>
                                <div class="colorSquare multicolor inline-block" *ngIf="!object.colour.colorCode"></div>
                            </span>
                        </div>
                        <div *ngIf="object.type"><span class="bold">Modèle : </span>{{object.type.name}}</div>
                        <div *ngIf="object.kind"><span class="bold">Genre : </span>{{object.kind.name}}</div>
                        <div *ngIf="object.category"><span class="bold">Catégorie : </span>{{object.category.name}}</div>
                        <div *ngIf="object.box"><span class="bold">Malle : </span>{{object.box.name}}</div>
                    </div>
                    <div class="centrer-vertical inline-block">
                        {{object.comment}}
                    </div>
                </div>
                
            </div>
        
        <div class="tab-pane active col-md-6 noObject" *ngIf="objects?.length==0">
            Aucun costume référencé
        </div>
    </div>
    
    <button class="btn btn-small btn-success add" (click)="openDialog(null)">Ajouter</button>
</div>