
<mat-dialog-content>
    <div class="text-left edit"><a href="/product/{{product.id}}" class="btn btn-link text-left" target="_blanck"><span class="glyphicon glyphicon-edit"></span></a></div>
        
    <div class="picture centrer-vertical">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="text-center d-block w-100" *ngIf="product.picture" src="{{product.picture}}"/>
                    <img class="d-block w-100" *ngIf="!product.picture" src="../../../assets/images.jpg"/>
                </div>
                <div class="item" *ngFor="let picture of product.pictures">
                    <img class="d-block w-100" src="{{picture.link}}">
                </div>
            </div>
            <a class="carousel-control left" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control right" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="centrer-vertical">
        
        <h3>{{product.name}}</h3>
        <div *ngIf="product.box"><span class="libelle">Malle de rangement : </span>{{product.box.name}}</div>
        <div *ngIf="product.comment" id="comment"><span class="libelle">Commentaires : </span>{{product.comment}}<br></div>
        <span *ngIf="product.totalQuantity" class="libelle">Quantitée totale : </span>{{product.totalQuantity}}<br>
        <div id="sizeQuantity">
            <div *ngFor="let sizeQuantity of product.sizeQuantities">
                <span *ngFor="let size of sizes">
                    <span *ngIf="size.id==sizeQuantity.idSize">{{size.name}}</span>
                </span>
                 : {{sizeQuantity.quantity}}  
            </div>
        </div>
      
        <div *ngIf="product.colour">
            <span class="libelle left">Couleur : </span>
            <div class="colorSquare left" [style.background]="product.colour.colorCode" *ngIf="product.colour.colorCode" title="{{product.colour.name}}"></div>
            <div class="colorSquare multicolor left" *ngIf="!product.colour.colorCode"></div>{{product.colour.name}}
        </div>

        <div *ngIf="product.type"><span class="libelle">Modèle : </span>{{product.type.name}}</div>
        <div *ngIf="product.kind"><span class="libelle">Genre : </span>{{product.kind.name}}</div>
        <div *ngIf="product.category"><span class="libelle">Catégorie : </span>{{product.category.name}}</div>
        
        <div *ngIf="booksNotFinish?.length>0"><span class="libelle">Réservation : </span><br/>
            <span *ngFor="let book of booksNotFinish">
                {{book.user.name}} : <span *ngIf="book.quantity>0">{{book.quantity}}</span><span *ngIf="book.quantity<0" class="noObject">Tous (pas de quantité renseignée sur ce produit)</span><br/>
                
            </span>
        </div>        
    </div>
        <div class="text-right" id="quantity">
            <input *ngIf="product.totalQuantity" type="number" [(ngModel)]="product.quantityAvailable" [disabled]="product.totalQuantity-product.quantityBooked<=0"/>
            <div id="alert" class="red" *ngIf="product.totalQuantity-product.quantityAvailable-product.quantityBooked<0">La quantité saisie est supérieur à la quantité disponible</div>
            <div *ngIf="product.totalQuantity">
                <span *ngIf="isStock(product.totalQuantity,product.quantityBooked)" class="green ">Quantité disponible : {{product.totalQuantity-product.quantityBooked}}</span>
                <span *ngIf="!isStock(product.totalQuantity,product.quantityBooked)" class="red ">Quantité indisponible : {{product.totalQuantity-product.quantityBooked}}</span>
                /{{product.totalQuantity}}
            </div>
        </div>
</mat-dialog-content>
<mat-dialog-actions>
        <div class="left wMiddle"><button mat-dialog-close class="btn btn-small btn-light" (click)="close()">Fermer</button></div>
        
        <div class="wMiddle">    <button [disabled]="!isAvailable(product.totalQuantity,product.quantityBooked,product.quantityAvailable)" (click)="addBook(product)" class="btn btn-success right" >Reserver</button></div>
            
</mat-dialog-actions>